<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/logo_pagina.png' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estiloUsur.css' %}">
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
    <form action="{% url 'login' %}" method="POST" id="formlog" class="col-md-4 mx-auto text-center mt-3 p-5">
        {% csrf_token %}
        <div class="bg-dark p-5 rounded-3 text-secondary shadow" style="width: 20rem;">
            <div class="d-flex justify-content-center">
                <img src="{% static 'img/login.jpg' %}" alt="login-icon" style="height: 7rem" />
            </div>
            <div class="text-center fs-2 fw-bold" style="color: snow;">Iniciar sesión</div>
            <div class="input-group mt-1">
                <div class="input-group-text bg-dark">
                    <img src="{% static 'img/username-icon.svg' %}" alt="username-icon" style="height: 1rem" />
                </div>
                <input class="form-control bg-light" type="text" placeholder="Usuario" id="username" name="username">
            </div>
            <div class="input-group mt-1">
                <div class="input-group-text bg-danger">
                    <img src="{% static 'img/password-icon.svg' %}" alt="password-icon" style="height: 1rem" />
                </div>
                <input class="form-control bg-light" type="password" placeholder="Contraseña" id="pass" name="password">
            </div>
            <div id="error_message" style="color: red; margin-top: 10px;">
                {% if error_message %}
                    {{ error_message }}
                {% endif %}
            </div>
            <button class="btn btn-secondary mt-3 mx-auto d-block w-75 rounded-pill" type="submit">Iniciar Sesión</button>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--<script src="{% static 'js/registro_login.js' %}"></script>-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>