body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.nosotros
{
    padding: 0px;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    padding:0 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}
.flex{
    flex:0 0 50px;
    max-width: 50%;
    padding:0 20px;
}
#fNosotros{
    border-radius: 45%;
}
h2{
    color: rgb(246, 246, 246);
}
p{
    color: rgb(0, 0, 0);
}