body{
    margin: 0;
    padding: 0;
    background: url('../img/log3.jpg');    
    background-color: orange;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}