<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Juego</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>
<body>
    <div class="container mt-5">
        <h2>Agregar Nuevo Juego</h2>
        <form action="{% url 'agregar' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulo" name="titulo" required>
            </div>
            <div class="mb-3">
                <label for="desarrollador" class="form-label">Desarrollador</label>
                <input type="text" class="form-control" id="desarrollador" name="desarrollador" required>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label for="resena" class="form-label">Reseña</label>
                <input type="text" class="form-control" id="resena" name="resena" required>
            </div>
            <div class="mb-3">
                <label for="fecha_lanzamiento" class="form-label">Fecha de Lanzamiento</label>
                <input type="date" class="form-control" id="fecha_lanzamiento" name="fecha_lanzamiento" required>
            </div>
            <div class="mb-3">
                <label for="editor" class="form-label">Editor</label>
                <input type="text" class="form-control" id="editor" name="editor" required>
            </div>
            <div class="mb-3">
                <label for="genero" class="form-label">Género</label>
                <select class="form-select" id="genero" name="genero" required>
                    <option value="">Selecciona un género</option>
                    <option value="Acción">Acción</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Carrera">Carrera</option>
                    <option value="Deporte">Deporte</option>
                    <option value="Estrategia">Estrategia</option>
                    <option value="Musica">Música</option>
                    <option value="Roguelike">Roguelike</option>
                    <option value="Rol">Rol</option>
                    <option value="Simulacion">Simulación</option>
                    <option value="Turnos">Turnos</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="ruta_imagen" class="form-label">Ruta de la Imagen</label>
                <input type="text" class="form-control" id="ruta_imagen" name="ruta_imagen" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="precio" name="precio" step="0.01" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Juego</button>
        </form>
    </div>

    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>