<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/logo_pagina.png' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estiloencabezado.css' %}">
</head>

<body background="{% static 'img/backgraund.jpg' %}">
    {% include 'base/header.html' %}
<main>
    <!--inicio-->
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-5 mx-auto w-75">
    {% if juegos %}
    {% for contador in juegos %}

    <div class="col">
        <div class="card h-100">
            <div class="card border-dark h-100" style="max-width: 100rem;">
                <div class="card text-bg-warning h-100" style="max-width: 100rem;">
                    <img src="{% static "img/" %}{{ contador.ruta_imagen }} " class="card-img-top" alt="..." width="400" height="400">
                    <div class="card-header text-center">{{ contador.titulo }}</div>
                    <div class="card-body">
                    <h5 class="card-title">{{ contador.desarrollador }}</h5>                    
                    <p class="card-text">{{ contador.descripcion }}</p>
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ contador.id_juego }}">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal 1 -->
    <div class="modal fade" id="{{ contador.id_juego }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">{{ contador.titulo }}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h1 class="h1 text-center pb-3">{{ contador.titulo }}</h1>
              <img
                src="{% static "img/" %}{{ contador.ruta_imagen }} "
                alt=""
                class="img-fluid rounded-2"
                width="500" height="500"
              />
              <div class="row p-5 fs-4">
                <ul>
                  <li>Nombre: {{ contador.titulo }}</li>
                  <li>Reseñas: {{ contador.resena }}</li>
                  <li>Año de Lanzamiento: {{ contador.fecha_lanzamiento }}</li>
                  <li>Desarrollador: {{ contador.desarrollador }}</li>
                  <li>Editor: {{ contador.editor }}</li>
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <a class="btn btn-primary" href="{% url 'pagoFinal' %}" role="button">{{ contador.precio }}</a>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
      {% endif %}
    </div>
    <!--fin-->
</main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>