<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acercaDeNosotros</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/logo_pagina.png' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estiloencabezado.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo_suport.css' %}">
</head>

<body>
    {% include 'base/header.html' %}
    <main>
         <!--inicio-->
         <div class="mt-3">
            <h2>Soporte de Steam 3</h2>
            </div>
            <div class="contenedor">
            <div class="dropdown">
              <button class="btn btn-dark btn-lg mt-4"  type="button" id="btnsoporte" data-bs-toggle="dropdown" aria-expanded="false">
              Deseo un reembolso 
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Ticket</a></li>
                <li><a class="dropdown-item" href="#">Mensaje</a></li>
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-dark btn-lg mt-1"  type="button" id="btnsoporte" data-bs-toggle="dropdown" aria-expanded="false">
              Tengo duda sobre una compra
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Ticket</a></li>
                <li><a class="dropdown-item" href="#">Mensaje</a></li>
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-dark btn-lg mt-1"  type="button" id="btnsoporte" data-bs-toggle="dropdown" aria-expanded="false">
              Me han cobrado una cantidad incorrecta
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Ticket</a></li>
                <li><a class="dropdown-item" href="#">Mensaje</a></li>
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-dark btn-lg mt-1"  type="button" id="btnsoporte" data-bs-toggle="dropdown" aria-expanded="false">
              Me gustaria ver el recibo de compra
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Ticket</a></li>
                <li><a class="dropdown-item" href="#">Mensaje</a></li>
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-dark btn-lg mt-1"  type="button" id="btnsoporte" data-bs-toggle="dropdown" aria-expanded="false">
              Tengo un problema con la página
              </button> 
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Ticket</a></li>
                <li><a class="dropdown-item" href="#">Mensaje</a></li>
              </ul>
            </div>
          </div>
            <!--Fin-->
    </main>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>